.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    box-shadow: 0 1px 3px -2px black;
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;

}

.nav-logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-logo p {
    color: #383838;
    font-size: 23px;
    font-weight: 700;
    margin: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu li a {
    text-decoration: none;
    color: #626262;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-subcribe {
    width: 150px;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 12px 30px;
    }
    .nav-menu {
        gap: 25px;
        font-size: 16px;
    }
    .nav-logo p {
        font-size: 24px;
    }
}